@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var result = DoAn.Common.Constants.USER_SESSION;
    var session = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<DoAn.Common.Session.UserLogin>(result.ToString());
}
@if (session == null)
{

}
else
{
    if (@ViewBag.CountItem != null)
    {
        <div class="shopping-card">
            <a href="/Cart/Index"><i class="fas fa-shopping-cart"></i><span class="itemgiohang">@ViewBag.CountItem-item</span></a>
        </div>
    }
    else
    {
        <div class="shopping-card">
            <a href="/SanPham/Index"><i class="fas fa-shopping-cart"></i><span class="itemgiohang">0-item</span></a>
        </div>
    }
}