
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange">
        <h1>Chào mừng tới Gongcha </h1>
    </div>
    <div>
        <h3 style="font-size:15px;">
           Chào bạn </h3>
        <p>
            Chúng tôi cần bạn xác nhận email với mã code là @ViewBag.MaCode . Nếu không tài khoản vừa đăng nhập sẽ bị xóa
            Nhấn vào <a href="@ViewBag.ConfirmationLink" style="padding-left:25px;">đây</a>
        </p>
    </div>
</body>
</html>
